.App {
  background-color: #fbfbfb;

  .links-container {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
    // box-shadow: 1px 1px 3px black;

    .nav-bar-link {
      color: black;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      margin: 0;
      font-size: 1.1rem;
    }
    .nav-bar-link:hover {
      background-color: #29005d;
      color: white;
    }

    /* NAV LINK DROPDOWN  */
    // DROPDOWN FOR TEAMS
    /* The dropdown container */
    .dropdown {
      float: left;
      overflow: hidden;
    }

    /* Dropdown button */
    .dropdown .dropbtn {
      font-size: 1.1rem;
      border: none;
      outline: none;
      color: black;
      padding: 22px 22px;
      background-color: inherit;
      font-family: inherit; /* Important for vertical align on mobile phones */
      margin: 0; /* Important for vertical align on mobile phones */
      width: 150px;
    }

    /* Add color to navbar links on hover */
    .nav-bar a:hover,
    .dropdown:hover .dropbtn {
      background-color: #29005d;
      color: white;
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      min-width: 160px;
      z-index: 1;
      .conference {
        border: 1px solid lightgray;
        width: 50%;

        .west-conference-header {
          margin-top: 0;
          margin-bottom: 5px;
          color: white;
          background-color: red;
          width: 100%;
          display: flex;
          justify-content: center;
          padding-top: 2.5px;
          padding-bottom: 2.5px;
        }
        .east-conference-header {
          margin-top: 0;
          margin-bottom: 5px;

          background-color: blue;
          color: white;
          width: 100%;
          display: flex;
          justify-content: center;
          padding-top: 2.5px;
          padding-bottom: 2.5px;
        }
      }
    }

    /* Links inside the dropdown */

    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 10px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    /* Add background color to dropdown links on hover */
    .dropdown-content a:hover {
      background-color: black;
      color: white;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: flex;
      flex-direction: row;
      width: 410px;
      border: 2px solid black;
      height: 670px;
      background-color: #f9f9f9;
      box-shadow: 1px 1px 3px black;
    }
  }

  // DROPDOWN FOR OTHER
  /* Dropdown content (hidden by default) */
  .dropdown-content-other {
    display: none;
    position: absolute;
    background-color: white;
    // min-width: 40px;
    z-index: 1;
    border: 2px solid gold;
  }

  /* Links inside the dropdown */
  .dropdown-content-other a {
    float: none;
    color: black;
    // font-size: 14px;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 150px;
    border-top: 1px solid gray;
  }

  /* Add background color to dropdown links on hover */
  .dropdown-content-other a:hover {
    background-color: black;
    color: white;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content-other {
    display: flex;
    flex-direction: row;
    width: 170px;
    border: 2px solid black;
    height: 130px;
    background-color: #f9f9f9;
    box-shadow: 1px 1px 3px black;
  }
}
