.top-section {
  background-color: #282c34;
  .player-img-container {
    display: flex;
    justify-content: center;
    width: 100%;
    //   background-color: #282c34;
    padding-top: 30px;
    .player-img {
      height: 120px;
      width: 120px;
      border-radius: 50%;
    }
  }
  .player-info-wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .player-name {
      // font-family: "Poppins", sans-serif;
      // position: absolute;
      // left: 72px;
      // bottom: -60px;
      // color: rgba(0, 0, 0, 0.05);
      // font-size: 170px;
      // font-weight: 700;
    }
    .player-team {
      margin-top: 0;
    }
  }
}
.player-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  // border-bottom: 1px solid black;
  .link {
    margin-left: 20px;
    margin-right: 20px;
    padding: 3%;
    color: indianred;
    font-size: 18px;
    @media (max-width: 500px) {
      font-size: 16px;
    }
  }
}
// PlayerInfo component
.player-info-container {
  margin-left: 50px;
  padding-bottom: 50px;
  margin-right: 50px;
  .section {
    // border: 1px solid black;
    width: 50%;
  }
}

// PlayerSummary component
.player-summary-container {
  margin-left: 100px;
  margin-right: 100px;
  // padding-top: 20px;
  padding-bottom: 50px;
  line-height: 1.4;
  @media (max-width: 500px) {
    line-height: 1.2;
    // font-size: 14px;
    margin-left: 50px;
    margin-right: 50px;
  }
  p {
    margin-bottom: 10px;
  }
}
