.betting-container {
  .header {
    display: flex;
    justify-content: center;
    color: gray;
    font-size: 55px;
    text-align: center;
    text-shadow: 1px -1px black, 2px -2px black, 3px -3px black, 3px -3px black;
  }
  .pick-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-image: linear-gradient(#333, #669);
    background-image: linear-gradient(red, black);

    // background-color: black;
    height: 100%;
    overflow: hidden;
    .pick-wrapper {
      padding-right: 20px;
      padding-left: 20px;
      box-shadow: 2px 2px 5px 5px white;

      h1 {
        display: flex;
        justify-content: center;
        color: white;
        font-family: Impact, Charcoal, sans-serif;
        font-size: 65px;
        text-align: center;
        text-shadow: 1px -1px black, 2px -2px black, 3px -3px black,
          4px -4px black;
      }

      .light {
        animation: top-right 5s ease-in-out alternate infinite;
        border-bottom: none;
        border-left: solid 20vh transparent;
        border-right: solid 20vh transparent;
        border-top: solid 200vh rgba(255, 255, 255, 0.5);
        bottom: 0;
        height: 0;
        left: 0;
        padding-top: 15px;
        position: absolute;
        transform-origin: bottom;
        width: 0;
      }

      .light + .light {
        animation: top-left 4s ease-in-out alternate infinite;
        left: auto;
        right: 0;
      }

      @keyframes top-right {
        0% {
          transform: rotate(-10deg);
        }
        100% {
          transform: rotate(70deg);
        }
      }

      @keyframes top-left {
        0% {
          transform: rotate(10deg);
        }
        100% {
          transform: rotate(-70deg);
        }
      }
      .pick-selection-wrapper {
        font-family: Impact, Charcoal, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 60px;
        text-shadow: 1px -1px black, 2px -2px black, 3px -3px black,
          4px -4px black;
        // text-decoration: underline;
        img {
          border-radius: 50%;
          width: 300px;
          height: 250px;
          margin-top: 0;
          box-shadow: 1px 1px 10px white;
          display: flex;
          border: 1px solid black;
        }
      }
    }
  }
  .ag-grid-container {
    background-color: white;
    padding-bottom: 100px;
    // background-image: linear-gradient(#333, #669);

    .history {
      margin-top: 50px;
      margin-bottom: 50px;
      color: black;
      display: flex;
      justify-content: center;
    }
    .ag-grid {
      display: flex;
      justify-content: center;
    }
  }
}
