.team-container {
  .team-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 300px;
    .logo-container {
      .team-logo {
        height: 150px;
        padding-bottom: 10%;
        width: 175px;
      }
    }
    .team-name {
      margin-top: 2%;
      font-size: 35px;
    }
  }
}
