.home-container {
  // border: 1px solid black;
  margin-left: 100px;
  margin-right: 100px;
  .top-section {
    margin-bottom: 50px;

    width: 100%;
    .home-article-link {
      text-decoration: none;
      border: 1px solid black;
    }
    .main-img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      // margin-right: 50%;
      .main-article-img {
        height: 350px;
        width: 40%;
        // border: 1px solid black;
        box-shadow: 1px 2px 3px black;
      }
      .home-main-article-header {
        height: 250px;
        width: 22.5%;
        border: 1px solid black;
        font-size: 30px;
        text-decoration: none !important;
        color: black;
        padding-left: 10px;
        padding-right: 10px;

        padding-top: 10px;
        // margin-bottom: 10px;
        box-shadow: 1px 2px 3px black;

        .article-tag {
          display: flex;
          justify-content: flex-end;
          margin-top: 20%;
          height: 30px;
          width: 95%;
          font-size: 12px;
          border-top: 1px solid black;
          // background-color: #29005d;
          color: black;
          padding-top: 5px;
          padding-bottom: 10px;
        }
      }
    }
  }
  .second-section {
    border: 1px solid blue;
    width: 100%;
    display: flex;
    .header {
      border-bottom: 1px solid black;
    }
    .latest-articles-container {
      border: 1px solid pink;
      //   make sure this width matches up with main article img width
      width: 60%;
      .article {
        display: flex;
        border-bottom: 1px solid lightgray;
        padding-top: 20px;
        padding-bottom: 20px;
        .latest-articles-img {
          width: 230px;
          height: 170px;
        }
        .article-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          border: 1px solid blue;
          width: 100%;
          margin-right: 10%;
        }
      }
    }
    .side-bar {
      color: red;
      .side-bar-wrapper {
        border-bottom: 1px solid lightgray;
        .side-bar-header {
          color: pink;
        }
        .icons {
          display: flex;
          flex-direction: column;
          .icon {
            display: flex;
          }
        }
      }
    }
  }
}
.home-main-article-header:hover {
  box-shadow: 2px 3px 4px black !important;
  // background-color: lightgray;
}
