.home-container {
  border: 1px solid black;
  margin-left: 100px;
  margin-right: 100px;
  .top-section {
    border: 1px solid red;
    width: 100%;
    .main-img-container {
      display: flex;
      // justify-content: center;
      // margin-right: 50%;
      .main-article-img {
        height: 300px;
        width: 60%;
      }
      .main-article-header {
        width: 20%;
        border: 1px solid black;
        font-size: 30px;
        // text-decoration: none;

        color: black;
        // .main-article-header,
        // a:link,
        // a:visited {
        //   text-decoration: none;
        // }
        .article-tag {
          margin-top: 20%;
          height: 30px;
          width: 100px;
          font-size: 12px;
          background-color: gray;
          color: white;
          border: 1px solid black;
        }
      }
    }
  }
  .second-section {
    border: 1px solid blue;
    width: 100%;
    display: flex;
    .header {
      border-bottom: 1px solid black;
    }
    .latest-articles-container {
      border: 1px solid pink;
      //   make sure this width matches up with main article img width
      width: 60%;
      .article {
        display: flex;
        border-bottom: 1px solid lightgray;
        padding-top: 20px;
        padding-bottom: 20px;
        .latest-articles-img {
          width: 230px;
          height: 170px;
        }
        .article-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          border: 1px solid blue;
          width: 100%;
          margin-right: 10%;
        }
      }
    }
    .side-bar {
      color: red;
      .side-bar-wrapper {
        border-bottom: 1px solid lightgray;
        .side-bar-header {
          color: pink;
        }
        .icons {
          display: flex;
          flex-direction: column;
          .icon {
            display: flex;
          }
        }
      }
    }
  }
}
