.home {
  margin-left: 15%;
  margin-right: 15%;
  font-family: "Cinzel", serif;
  @media (max-width: 500px) {
    margin-left: 5%;
    margin-right: 5%;
  }
  .home-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    // border-bottom: 1px solid gray;
    padding-bottom: 50px;
    @media (max-width: 500px) {
      flex-direction: column;
    }
    .column1 {
      // padding-top: 5px;
      margin-top: 30px;
      border-right: 1px solid gray;
      display: flex;
      flex-direction: column;
      width: 33.3%;
      padding-right: 20px;
      color: black;
      @media (max-width: 500px) {
        width: 100%;
      }
      .home-article-link {
        text-decoration: none;
      }
      .main-article-container {
        color: black;

        .main-article-img {
          width: 100%;
          height: 250px;
          @media (max-width: 500px) {
            height: 200px;
          }
        }
        .article-date {
          margin-top: 20px;
          color: black;
          border-bottom: 1px solid lightgray;
          @media (max-width: 500px) {
            font-size: 14px;
          }
        }
        .article-header {
          font-size: 30px;
          @media (max-width: 500px) {
            font-size: 24px;
          }
        }
        .article-header:hover {
          color: purple;
        }
        .article-text {
          @media (max-width: 500px) {
            font-size: 14px;
          }
        }
      }
      .second-article-container {
        margin-top: 30px;
        border-top: 1px solid gray;
        padding-top: 30px;
        display: flex;
        color: black;
        @media (max-width: 500px) {
          flex-direction: row-reverse;
          width: 100%;
        }
        .second-article-text {
          display: flex;
          flex-direction: column;

          padding-right: 5%;
          width: 55%;
          @media (max-width: 500px) {
            width: 70%;
            padding: 0;
          }
          .article-date {
            border-bottom: 1px solid lightgray;
            @media (max-width: 500px) {
              display: none;
            }
          }
        }
        .second-article-img {
          width: 45%;
          height: 175px;
          @media (max-width: 500px) {
            width: 30%;
            height: 100px;
          }
          // padding-top: 5%;
        }
        .article-header {
          font-size: 25px;
          @media (max-width: 500px) {
            font-size: 20px;
            width: 100%;
            margin-left: 20px;
          }
        }
        .article-header:hover {
          color: purple;
        }
      }
    }
    .column2 {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      width: 33.3%;
      padding-left: 1%;
      padding-right: 1%;
      @media (max-width: 500px) {
        width: 100%;
        margin-top: 50px;
      }
      .column2-img-container {
        // padding-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .column2-img {
          width: 100%;
          height: 200px;
          @media (max-width: 500px) {
            // height: 200px;
            display: none;
          }
        }
      }
      .home-article-link {
        text-decoration: none;
      }
      .column2-content {
        color: black;
        text-decoration: none;
        .article-date {
          margin-top: 20px;
          color: black;
          border-bottom: 1px solid lightgray;
          @media (max-width: 500px) {
            font-size: 14px;
          }
        }
        .article-header {
          font-size: 25px;
          @media (max-width: 500px) {
            font-size: 22px;
          }
        }
        .article-header:hover {
          color: purple;
        }
        .article-text {
          border-bottom: 1px solid gray;
          padding-bottom: 20px;
        }
      }
    }
    .column3 {
      border-left: 1px solid gray;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      width: 33.3%;
      padding-left: 1%;
      @media (max-width: 500px) {
        width: 100%;
        border: none;
      }
      .home-article-link {
        text-decoration: none;
        color: black;
      }
      .latest-articles-header {
        margin-top: 10px;
        font-size: 22.5px;
        border-bottom: 1px solid gray;
        padding-bottom: 1%;
        // margin-bottom: 5%;
      }
      .articles-list {
        text-decoration: none;
        margin: 0;
        width: 100%;
        margin-bottom: 50px;
        li {
          text-decoration: none;
          // border-bottom: 1px solid lightgray;
          border-top: 1px solid lightgray;
          padding-top: 2.25%;
          padding-bottom: 2.25%;
          margin: 0;
          line-height: 1.4;
        }
        li:hover {
          color: purple;
        }
      }
      .potd {
        margin-top: 0;
        margin-bottom: 5px;
      }

      .view-history-btn {
        border: 1px solid black;
        width: 125px;
        display: flex;
        justify-content: center;
        margin-top: 5px;
        background-color: #29005d;
        padding: 1%;
        margin-bottom: 60px;
        color: white;
        cursor: pointer;
        .btn-link {
          color: white;
          text-decoration: none;
        }
      }
      .view-history-btn:hover {
        box-shadow: 1px 1px 1px black;
      }
      .icons {
        margin-bottom: 60px;
        @media (max-width: 500px) {
          display: none;
        }
        .icon {
          display: flex;
          align-items: center;
          .social-media-icon {
            margin-right: 5px;
          }
        }
      }
      .other-sites {
        @media (max-width: 500px) {
          display: none;
        }
        .other-sites-img {
          height: 60px;
          width: 90px;
          box-shadow: 1px 2px 1px black;
          border-radius: 10%;
        }
        .other-sites-img:hover {
          box-shadow: 1px 2px 3px black;
        }
      }
    }
    .ag-grid {
      display: none;
    }
  }

  .section-header-container {
    display: flex;
    align-items: center;
    .section-header {
      margin-top: 20px;
      font-size: 30px;
      margin-bottom: 10px;
    }
  }
  .col-container {
    margin-top: 50px;
    display: flex;
    height: 675px;
    border-bottom: 1px solid gray;
    @media (max-width: 500px) {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .col1 {
      // border: 10px solid pink;
      padding-right: 20px;
      width: 33.3%;
      display: flex;
      flex-direction: column;
      border-right: 1px solid gray;
      @media (max-width: 500px) {
        border: none;
        border-bottom: 1px solid gray !important;
        width: 100%;
      }
      .main-article-img {
        width: 100%;
        height: 250px;
        @media (max-width: 500px) {
          height: 200px;
        }
      }
      .date-written {
        margin-top: 20px;
        color: black;
        border-bottom: 1px solid lightgray;
        @media (max-width: 500px) {
          font-size: 14px;
        }
      }
      .home-article-link {
        text-decoration: none;
        color: black;
        font-size: 25px;
        @media (max-width: 500px) {
          font-size: 18px;
        }
      }
      .home-article-link:hover {
        color: purple;
      }
      .text {
        margin-top: 0;
        @media (max-width: 500px) {
          font-size: 14px;
        }
      }
    }
    .col2 {
      width: 33.3%;
      display: flex;
      flex-direction: column;
      @media (max-width: 500px) {
        border: none;
        border-bottom: 1px solid gray !important;
        width: 100%;
      }
      .top {
        height: 50%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid gray;
        @media (max-width: 500px) {
          margin-top: 20px;
          border-bottom: 1px solid lightgray;
          display: flex;
        }
        .secondary-article-img {
          width: 100%;
          height: 150px;
          @media (max-width: 500px) {
            width: 30%;
            height: 100px;
          }
        }
        .date-written {
          margin-top: 20px;
          color: black;
          border-bottom: 1px solid lightgray;
          @media (max-width: 500px) {
            display: none;
          }
        }
        .home-article-link {
          text-decoration: none;
          color: black;
          font-size: 20px;
          @media (max-width: 500px) {
            font-size: 16px;
            width: 70%;
            margin-left: 20px;
          }
        }
        .home-article-link:hover {
          color: purple;
        }
      }
      .bottom {
        height: 50%;
        padding: 20px 20px 20px 20px;
        @media (max-width: 500px) {
          margin-top: 20px;
          border-bottom: 1px solid lightgray;
          display: flex;
        }
        .secondary-article-img {
          width: 100%;
          height: 150px;
          @media (max-width: 500px) {
            width: 30%;
            height: 100px;
          }
        }
        .date-written {
          margin-top: 20px;
          color: black;
          border-bottom: 1px solid lightgray;
          @media (max-width: 500px) {
            display: none;
          }
        }
        .home-article-link {
          text-decoration: none;
          color: black;
          font-size: 20px;
          @media (max-width: 500px) {
            font-size: 16px;
            width: 70%;
            margin-left: 20px;
          }
        }
        .home-article-link:hover {
          color: purple;
        }
      }
    }
    .col3 {
      .top {
        height: 50%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid gray;
        @media (max-width: 500px) {
          margin-top: 20px;
          border-bottom: 1px solid lightgray;
          display: flex;
        }
        .secondary-article-img {
          width: 100%;
          height: 150px;
          @media (max-width: 500px) {
            width: 30%;
            height: 100px;
          }
        }
        .date-written {
          margin-top: 20px;
          color: black;
          border-bottom: 1px solid lightgray;
          @media (max-width: 500px) {
            display: none;
          }
        }
        .home-article-link {
          text-decoration: none;
          color: black;
          font-size: 20px;
          @media (max-width: 500px) {
            font-size: 16px;
            width: 70%;
            margin-left: 20px;
          }
        }
        .home-article-link:hover {
          color: purple;
        }
      }
      .bottom {
        height: 50%;
        padding: 20px 20px 20px 20px;
        @media (max-width: 500px) {
          margin-top: 20px;
          border-bottom: 1px solid lightgray;
          display: flex;
        }
        .secondary-article-img {
          width: 100%;
          height: 150px;
          @media (max-width: 500px) {
            width: 30%;
            height: 100px;
          }
        }
        .date-written {
          margin-top: 20px;
          color: black;
          border-bottom: 1px solid lightgray;
          @media (max-width: 500px) {
            display: none;
          }
        }
        .home-article-link {
          text-decoration: none;
          color: black;
          font-size: 20px;
          @media (max-width: 500px) {
            font-size: 16px;
            width: 70%;
            margin-left: 20px;
          }
        }
        .home-article-link:hover {
          color: purple;
        }
      }
    }
  }
  // Fantasy Section
  .small-section-container {
    height: 500px;
    border-bottom: 1px solid gray;
    @media (max-width: 500px) {
      height: 800px;
    }
    .section-header-container {
      margin-top: 10px;
      display: flex;
      align-items: center;
      .section-header {
        margin-top: 10px;
        font-size: 30px;
        margin-bottom: 10px;
      }
    }
    .small-section-card-wrapper {
      margin-top: 40px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      @media (max-width: 500px) {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        flex-basis: 50%;
        padding: 0;
        margin: 0;
        margin-top: 30px;
      }
      .small-section-card {
        padding-left: 10px;
        padding-right: 10px;
        width: 25%;
        height: 300px;
        border-left: 1px solid gray;
        @media (max-width: 500px) {
          width: 40%;
          padding-left: 10px;
          padding-right: 10px;
          border-left: none;
          box-shadow: 1px 1px 5px gray;
          margin-top: 20px;
          margin-left: 10px;
          margin-right: 10px;
        }
        .card-img {
          width: 100%;
          height: 60%;
          @media (max-width: 500px) {
            height: 50%;
            margin-top: 5%;
          }
        }
        .date-written {
          margin-top: 10px;
          border-bottom: 1px solid lightgray;
          font-size: 12px;
          @media (max-width: 500px) {
            // border: 1px solid black;
            display: flex;
            justify-content: flex-start;
          }
        }
      }
      .small-section-card-left {
        padding-left: 10px;
        padding-right: 10px;
        width: 25%;
        height: 300px;
        @media (max-width: 500px) {
          width: 40%;
          padding-left: 10px;
          padding-right: 10px;
          // border-left: 1px solid gray;
          box-shadow: 1px 1px 5px gray;
          margin-top: 20px;
          margin-left: 10px;
          margin-right: 10px;
        }
        .card-img {
          width: 100%;
          height: 60%;
          @media (max-width: 500px) {
            height: 50%;
            margin-top: 5%;
          }
        }
        .date-written {
          margin-top: 10px;
          border-bottom: 1px solid lightgray;
          font-size: 12px;
          @media (max-width: 500px) {
            // border: 1px solid black;
            display: flex;
            justify-content: flex-start;
          }
        }
      }
    }
  }

  // Player Spotlight Section
  .player-spotlight-container {
    border-bottom: 1px solid gray;

    .section-header-container {
      display: flex;
      align-items: center;
      .section-header {
        margin-top: 20px;
        font-size: 30px;
        margin-bottom: 20px;
      }
    }

    .row {
      margin-top: 50px;
      display: flex;
      margin-bottom: 20px;

      @media (max-width: 500px) {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        flex-basis: 50%;
        padding: 0;
        // margin: 0;
      }
      .player {
        // border-left: 1px solid lightgray;
        // border-right: 1px solid lightgray;
        width: 25%;
        // border-bottom: 1px solid lightgray;
        padding-left: 20px;
        padding-right: 20px;
        @media (max-width: 500px) {
          width: 40%;
          box-shadow: 1px 1px 5px gray;
        }
        .player-img-container {
          padding-top: 10px;
          width: 100%;
          display: flex;
          justify-content: center;

          .player-img {
            box-shadow: 1px 1px 5px black;

            border-radius: 50%;
            height: 150px;
            width: 150px;
            @media (max-width: 500px) {
              margin-top: 15px;
            }
          }
          .player-img:hover {
            box-shadow: 0px 0px 10px black;
          }
        }
        .player-name {
          font-size: 18px;
          display: flex;
          justify-content: center;
          margin-bottom: 0;
        }
        .player-info {
          margin-top: 5px;
          width: 100%;
          font-size: 14px;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  .follow-us-mobile-container {
    display: none;
    @media (max-width: 500px) {
      display: flex;
      flex-direction: column;
    }
    .icons {
      margin-bottom: 60px;
      .icon {
        display: flex;
        align-items: center;
        .social-media-icon {
          margin-right: 5px;
        }
      }
    }
    .other-sites {
      .other-sites-img {
        height: 60px;
        width: 90px;
        box-shadow: 1px 2px 1px black;
        border-radius: 10%;
      }
      .other-sites-img:hover {
        box-shadow: 1px 2px 3px black;
      }
    }
  }
}
// links
.home-article-link {
  text-decoration: none;
  color: black;
}
.home-article-link:hover {
  color: purple;
}
.view-all-link {
  text-decoration: none;
  margin-left: auto;
  color: purple;
}
.view-all-link:hover {
  text-decoration: underline;
}
